.drop-ml:hover {
    background-color: rgb(83, 43, 43);
    border: 1px solid saddlebrown;
    border-radius: 3px;
    color: rgb(255, 251, 251);
    transition: 1s;
    font-size: larger;
    font-weight: bold;
}